models/
data/*
data2/*
data_view/
!data/process_stuck.py
__pycache__/
**/checkpoints/
result/
.progress/
envs/curobo
*.zip
viewer_show.*
logs/
imgs/
eval_video/
outputs/
**/.DS_Store
.pytest_cache/
# eval result
eval_result/
script/calibration/*
# Code Generation
assets/*
!assets/_download.py
!assets/files

policy/weights/*

envs/curobo/*

.vscode
/config.json

/*.json*
/*.txt
